{% extends 'crud_templates/layout.html' %}

{% block title %}
    Add Details
{% endblock %}


{% block body %}
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="my-5">
                        <h1 style="text-align: center">Add details here</h1>
                        <form id="contactForm" action = "{% url 'add_details' %}" method = "POST">
                            {% csrf_token %}
                            <div class="form-floating">
                                <input class="form-control" id="rn" name="rn" type="text" placeholder="Enter your roll..." data-sb-validations="required" />
                                <label for="rn">Roll Number</label>
                                <div class="invalid-feedback" data-sb-feedback="rn:required">An RN is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="age" name="age" type="number" placeholder="Enter your age..." data-sb-validations="required" />
                                <label for="age">Age</label>
                                <div class="invalid-feedback" data-sb-feedback="age:required">An age number is required.</div>
                            </div>
                            <br />
                            <!-- Submit Button-->
                            <div class="form-row text-center">
                                <button class="btn btn-secondary" style="margin-bottom: 10px" id="submitButton" type="submit" >Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}